{% extends "base.html" %}
{% block content %}
<div class='container'>
  <h1 class='page-header'>{{ page_name.name|default:"Malenovská" }}</h1>
  <div class='row'>
    {{ page_name.text|safe|default:"Vítej internetový poutníče"}}
  </div>
</div>
<div class='container'>
  <h1 class='page-header'>Události dávné i nedávné</h1>
  {% for news in news_list %}
  <h2 class='entry-header'>{{news.name}}<span class='pull-right text-muted'>{{news.date}}</span></h2>
  <div class='row'>
    {{news.text|safe}}
  </div>
  {% endfor %}
</div>
{% endblock content %}
