{% extends "base.html" %}
{% block imports %}
{% load staticfiles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/contact-buttons.css' %}" />
<script type="text/javascript" src="//api.mapy.cz/loader.js"></script>
<script type="text/javascript">Loader.load(null, {poi:true});</script>
{% endblock imports %}
{% block content %}
{% load www_extras %}
<div class='container bg'>
  <div class='row'>
    <h1 class='page-header'>Důležité informace</h1>
      <div class='col-md-7'>
        {{ info_general|safe }}
      </div>
      <div class='col-md-5 pad-bottom'>
        {% for datum in dates %}
        <div class='row'>
          <div class="panel panel-horizontal panel-default">
            <div class="panel-heading">
              {{datum.name}}
            </div>
            <div class="panel-body">
              {{datum.date}}
            </div>
          </div>
        </div>
        {% endfor %}
        {% for text in texts%}
        <div class='row'>
          <div class="panel panel-horizontal panel-default">
            <div class="panel-heading">
              {{text.name}}
            </div>
            <div class="panel-body">
              {{text.text}}
            </div>
          </div>
        </div>
        {% endfor %}
        <div class='row'>
          <div class="panel panel-horizontal panel-default">
            <div class="panel-heading">
              Kontakty
            </div>
            <div class="panel-body">
              {% for type, contact in contacts.items %}
              <a href='{{contact.text}}' class="btn btn-sm btn-contact btn-{{type}}">
                <span class="fa fa-{{type}}"></span>
                {% if type == 'at'%}<script type="text/javascript">
                  var email = "";
                  {{contact.email|safe}}
                  $("a[href='mailto:']").attr('href', email);
                </script>{% endif %}
              </a>
              <div class='contact-text'>
                <span class='hidden-xs'>
                  {{contact.name|capfirst}}
                </span>
                <span class='visible-xs'>
                  {{contact.name|split:" ,0"|capfirst}}
                </span>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class='container bg'>
  <div class='row'>
    <h1 class='page-header'>Mapa</h1>
    {{ info_map|safe }}
  </div>
  <div id="map"></div>
  <script>
    var map = new SMap(JAK.gel("map"));
    map.addDefaultLayer(SMap.DEF_TURIST).enable();
    map.addDefaultControls();
    var sync = new SMap.Control.Sync();
    map.addControl(sync);

    var data = {{ map_points|safe}};
    var points = [];
    var coords = [];

    for (var i in data) {
        var c = SMap.Coords.fromWGS84(data[i][2]);

        var visual = JAK.mel("div");
        var image = JAK.mel("img", {src:SMap.CONFIG.img+"/marker/drop-red.png"});
        visual.appendChild(image);
        var tooltip = JAK.mel("div", {}, {position:"absolute", left:"0px", top:"2px", textAlign:"center", width:"22px", color:"white", fontWeight:"bold"});
        tooltip.innerHTML = data[i][0]
        visual.appendChild(tooltip);

        var options = { title:data[i][1],
                        anchor: {left:10, bottom: 1},
                        url: visual};

        var pt = new SMap.Marker(c, null, options);
        var card = new SMap.Card();
        card.getHeader().innerHTML = "<strong>"+ data[i][1] +"</strong>";
        pt.decorate(SMap.Marker.Feature.Card, card);

        coords.push(c);
        points.push(pt);
    }

    var layer = new SMap.Layer.Marker();
    map.addLayer(layer);
    layer.enable();
    for (var i=0;i<points.length;i++) {
      layer.addMarker(points[i]);
    }

    var cz = map.computeCenterZoom(coords);
    map.setCenterZoom(cz[0], cz[1] - 1);
    var pixel = new SMap.Pixel(0, -100);
    map.setCenter(pixel.toCoords(map));

    var poi = new SMap.Layer.Marker();
    map.addLayer(poi)
    poi.enable();
    var dataProvider = map.createDefaultDataProvider();
    dataProvider.setOwner(map);
    dataProvider.addLayer(poi);
    dataProvider.setMapSet(SMap.MAPSET_TURIST);
    dataProvider.enable();
    map.addDefaultLayer(SMap.DEF_TRAIL).enable();
    map.addDefaultLayer(SMap.DEF_BIKE).enable();

    SMap.Control.Legend = JAK.ClassMaker.makeClass({
                     NAME: "SMap.Control.Legend",
                     VERSION: "1.0",
                     EXTEND: SMap.Control.Visible
                });
    SMap.Control.Legend.prototype.$constructor = function() {
        this.$super();
        this._dom.container = JAK.mel("div", {className: "legend_box"});
        var content = "<div class='legend'>";
        for (var i in data) {
          content = content + "\
          <div class='row hidden-xs' onclick='$(document).ready(function(){setCenter(\""+data[i][2]+"\");});'>\
            <div class='col-xs-1'>\
              <img src='"+SMap.CONFIG.img+"/marker/drop-red.png'></img>\
              <span class='map-label'>"+data[i][0]+"</span>\
            </div>\
            <div class='col-xs-11'>\
            "+data[i][1]+"\
            </div>\
          </div>";
        }
        content = content + "</div>";
        this._dom.container.innerHTML = content;
    }

    var c = new SMap.Control.Legend();
    map.addControl(c, {left:'20px', top:'17px'});

    var setCenter = function(coordinates) {
      map.setCenterZoom(SMap.Coords.fromWGS84(coordinates), cz[1]-1, true);
    }
  </script>
</div>
{% endblock content %}