{% extends "base.html" %}
{% block imports %}
{{ block.super }}
<script>
$('#tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});
$(document).ready(function() {
  $('#tabs a:first').tab('show');
});
</script>
{% endblock imports %}
{% block content %}
<div class='container bg'>
  <div class='row'>
    <h1 class='page-header'>Přihlášení hráči</h1>
  </div>
  <div class='row' id='tabs'>
    <ul class="nav nav-tabs" role="tablist">
      {% for race, players in players_list %}
      <li role="presentation"><a href="#race{{race.id}}" aria-controls="race{{race.id}}" role="tab" data-toggle="tab">{{race.name}} ({{players|length}}/{{race.limit}})</a></li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for race, players in players_list %}
      <div role="tabpanel" class="tab-pane fade" id="race{{race.id}}">
        {{race.description|safe}}
        {% for player in players %}
        <div class='col-md-2'>
          <div class="panel panel-default">
            <div class="panel-body">
              <p><b>{{player.nick}}</b></br>
              {{player.name}} {{player.surname}}</br>
              {{player.group}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      <br class="clear"/>
    </div>
  </div>
</div>

{% endblock content %}