{% extends "base.html" %}
{% block imports %}
{{ block.super }}
<script>
$('#tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});
$(document).ready(function() {
  $('#tabs a:first').tab('show');
});
</script>
{% endblock imports %}
{% block content %}
<div class='container bg'>
  <div class='row'>
    <h1 class="page-header" id='new-player'>Přihlas se</h1>
    <div class='col-md-7'>
    {{register_beside_form|safe}}
    </div>
    {% if form %}
    <form action="" method="post" class='col-md-5 pad-bottom'>
    {% csrf_token %}
      {% for field in form %}
      <div class="input-group form-group{% if field.field.required %} required{% endif %}">
        <span class="input-group-addon">{{ field.field.widget.attrs.label}}</span>
          {{ field }}
      </div>
      {% endfor %}
      <input type="submit" class='form-control btn-default' value="Registrovat se" />
    </form>
    {% else %}
    <div class='col-md-5'>
      <div class="panel panel-default">
        <div class="panel-body center">
          {% if after_register_open %}
          <h3>Registrace byla uzavřena</h3>
          <p>Uvidíme se na bitvě!</p>
          {% else %}
          <h3>Registrace bude brzy spuštěna</h3>
          <p>A až se tak stane, zde naleznete registrační formulář</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class='row'>
  {{register_down|safe}}
  </div>
</div>
{% if after_register_open %}
<div class='container bg'>
  <div class='row'>
    <h1 class='page-header' id='signed-up'>Přihlášení hráči</h1>
  </div>
  <div class='row' id='tabs'>
    <ul class="nav nav-tabs" role="tablist">
      {% for race, players in players_list %}
      <li role="presentation"><a href="#race{{race.id}}" aria-controls="race{{race.id}}" role="tab" data-toggle="tab">{{race.name}} ({{players|length}}/{{race.limit}})</a></li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for race, players in players_list %}
      <div role="tabpanel" class="tab-pane fade" id="race{{race.id}}">
        {% for player in players %}
        <div class='col-md-3'>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class='col-xs-4'>
                <span class="glyphicon glyphicon-user"></span>
              </div>
              <div class='col-xs-8'>
              <p><b>{% if player.nick %}{{player.nick}}{% else %}{{player.name}}{%endif%}</b></br>
              {{player.name}} {{player.surname}}</br>
              <i>{% if player.group %}{{player.group}}{% else %}</br>{%endif%}</i></p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      <br class="clear"/>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}