{% extends "base.html" %}
{% block content %}
<div class='container bg'>
  <div class='row'>
    <h1 class="page-header">Přihlaš se</h1>
    <div class='col-md-6'>
    {{register_beside_form|safe}}
    </div>
    <form action="" method="post" class='col-md-6'>
    {% csrf_token %}
      {% for field in form %}
      <div class="input-group form-group">
        <span class="input-group-addon">{{ field.field.widget.attrs.label}}</span>
          {{ field }}
      </div>
      {% endfor %}
      <input type="submit" class='form-control' value="Submit" />
    </form>
  </div>
  <div class='row'>
  {{register_down|safe}}
  </div>
</div>
{% endblock content %}