{% extends "base.html" %}
{% block content %}
<div class='container bg'>
  <div class='row'>
    <h1 class='page-header'>Mezihoří</h1>
    {{ world_characteristics|safe }}
  </div>
</div>
<div class='container bg'>
  <div class='row'>
    <h1 class='page-header'>Rasy</h1>
    <ul class="media-list">
    {% for race in races %}
      <li class="media">
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-md-6">
          {% if race.icon %}
          <img class="media-object" src="{% if race.icon %}{{ MEDIA_URL }}{{ race.icon }}">
          {% else %}
          <div class='media-object'></div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <h2>{{race.name}}</h2>
          {{race.description|safe}}
        </div>
        {% else %}
        <div class="col-md-6">
          <h2>{{race.name}}</h2>
          {{race.description|safe}}
        </div>
        <div class="col-md-6">
          {% if race.icon %}
          <img class="media-object" src="{% if race.icon %}{{ MEDIA_URL }}{{ race.icon }}">
          {% else %}
          <div class='media-object'></div>
          {% endif %}
        </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}