<!DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>
  <head>
    <title>{{page_name}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block imports %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}" />
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
    setTimeout("$('#message').hide();", 2000);
    </script>
    <link href='https://fonts.googleapis.com/css?family=Kalam:400&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    {% endblock imports %}
  </head>
  <body {% block body_attribs %}{% endblock body_attribs %}>
    <div id='wrap'>
    {% block navbar %}
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img class='hidden-xs' src="{% static 'img/malenovska_logo.svg' %}">
              <img class='visible-xs' src="{% static 'img/malenovska_logo_small.svg' %}">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-menu">
            <span class="sr-only">Zobrazit navigaci</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-menu">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/legends">Legendy</a></li>
              <li><a href="/rules">Pravidla</a></li>
              <li><a href="/info">Důležité informace</a></li>
              <li><a href="/world">Svět</a></li>
              <li class="active"><a  href="/register">Registrace</a></li>
            </ul>
          </div>
        </div>
      </div>
    {% endblock navbar %}
    {% if messages %}
      <div class='container' id='message'>
      {% for message in messages %}
        <div id='inner-message' class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
      {% endfor %}
      </div>
    {% endif %}
    {% block content %}
    {% endblock content %}
    </div>
    <div id='push'></div>
    <footer id="footer">
      <div class="container">
        <dl class="dl-horizontal">
          <dt><span class='glyphicon glyphicon-send'></span></dt>
          <dd>
            V případě, že narazíte na jakýkoliv technický problém se stránkami,
            <script type="text/javascript">
              document.write("<a href='"+
                             "h\\dgoj5".replace(/./g, function(c){return String.fromCharCode(c=c.charCodeAt(0)+5);})+
                             "jv|mhs5".replace(/./g, function(c){return String.fromCharCode(c=c.charCodeAt(0)-7);})+
                             "ytrElrfnq3htr".replace(/./g,function(c){return String.fromCharCode(c=c.charCodeAt(0)-5);})+
                             "' rel='nofollow'>napište nám</a>");
            </script>.
          </dd>
          <dt><span class='glyphicon glyphicon-education'></span></dt>
          <dd>
            Web je postaven nad frameworkem
            <a href='https://djangoproject.com/'>Django</a> a využívá
            <a href='https://jquery.com/'>jQuery</a>,
            <a href='https://getbootstrap.com/'>Twitter Bootstrap</a>,
            <a href='https://mapy.cz/'>Mapy.cz API</a>
          </dd>
          <dt><span class='glyphicon glyphicon-hdd'></span></dt>
          <dd>
            Stránky jsou hostovány na
            <a href='https://openshift.com/'>Openshift</a>u,
            veřejném cloudu společnosti
            <a href='https://redhat.com/'>RedHat</a>
          </dd>
          <dt><span class='glyphicon glyphicon-picture'></span></dt>
          <dd>
            Všechny použité obrázky jsou duševním vlastnictvím členů organizačního týmu nebo jsou použity v souladu s licencí.</br>
            Obrázek na pozadí převzat od
            <a href='http://picalls.com/fog-in-the-forest-by-traveling-julie/'>Traveling Julie</a>,
            <a href='http://creativecommons.org/licenses/by-nc-nd/4.0/'>licence</a></p>
          </dd>
        </dl>
      </div>
    </footer>
  </body>
</html>