{% extends "base.html" %}
{% block imports %}
{{ block.super }}
<script>
$('#tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});
$(document).ready(function() {
  $('#tabs a:first').tab('show');
});
</script>
{% endblock imports %}
{% block content %}
<div class='container'>
  <h1 class="page-header" id='new-player'>Přihlas se</h1>
  <h2 class="entry-header" id='new-player'>Na smrt jdoucí hrdinové</h2>
  <div class='row'>
    <div class='col-md-7'>
    {{register_beside_form|safe}}
    </div>
    {% if form %}
    <form action="" method="post" class='col-md-5 pad-bottom'>
    {% csrf_token %}
      {% for field in form %}
      <div class="input-group form-group{% if field.field.required %} required{% endif %}">
        <span class="input-group-addon">{{ field.field.widget.attrs.label}}</span>
          {{ field }}
      </div>
      {% endfor %}
      <input type="submit" class='form-control btn-default' value="Registrovat se" />
    </form>
    {% elif after_registration %}
    <div class='col-md-5'>
      <div class="panel panel-default">
        <div class="panel-body center">
          <h3>Registrace byla uzavřena</h3>
          <p>Uvidíme se na bitvě!</p>
        </div>
      </div>
    </div>
    {% elif before_registration %}
    <div class='col-md-5'>
      <div class="panel panel-default">
        <div class="panel-body center">
          <h3>Registrace bude brzy spuštěna</h3>
          <p>A až se tak stane, zde naleznete registrační formulář</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <h2 class="entry-header" id='new-player'>Pozorovatelé, fanoušci, a další havěť</h2>
  <div class='row'>
  {{register_down|safe}}
  </div>
</div>
{% if not before_registration and players_list %}
<div class='container'>
  <h1 class='page-header' id='signed-up'>Přihlášení hráči</h1>
  <div id='tabs'>
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
        {% for race, players in players_list %}
        <li role="presentation"><a href="#race{{race.id}}" aria-controls="race{{race.id}}" role="tab" data-toggle="tab">{{race.name}} ({{players|length}}/{{race.limit}})</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="row tab-content">
      {% for race, players in players_list %}
      <div role="tabpanel" class="tab-pane fade clearfix" id="race{{race.id}}">
        <div class='row'>
        {% for player in players %}
        <div class='col-md-4'>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class='col-xs-3'>
                <span class="glyphicon glyphicon-user"></span>
              </div>
              <div class='col-xs-9'>
              <p><b>{% if player.nick %}{{player.nick}}{% else %}{{player.name}}{%endif%}</b></br>
              {{player.name}} {{player.surname}}</br>
              <i>{% if player.group %}{{player.group}}{% else %}</br>{%endif%}</i></p>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class='row'>
        {% endif %}
        {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
